
body {
    font-family: Impact;
    vertical-align: bottom;
    background:  mediumpurple;
    text-align:center;

}

button {
    width: 50px;
    color: black;
}


/*style all elements with the class “fontLarge” */
.fontLarge{
    font-size: 30px;
}

/* style all p elements with the class “center” */
p.center {
    text-align: center;
    color: red;
}

/* style all h1, h2 and p elements */
h1, h2, p {
    text-align: right;
    text-weight: bold;
}

#nameField {
    position: relative;
    top: 250px;
}


